.container-border {
    border : 2px solid rgb(0, 0, 0);
 }

 html, body {
    height: 100%; /* Ensures that the HTML and body take full height of the viewport */
    margin: 0; /* Removes default margin */
}

.full-height {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.middle-container {
    height: 71vh;
    overflow: auto;
}

#message {
    width: 60%;
}

#imageInput {
    display: none;
}

#chat{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow-wrap: break-word;
}

.message-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    max-width: 70%;
    min-width: 10%;
}

/* --------------------------------------------
profile section & user count section */

.userProfile {
    margin: 5px;
}

.userCount {
    margin: 5px;
}

/* -----------------------------------------
login page CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    flex-direction: row;

}

.register,
.login,
.toggle-container {
    max-width: 400px;
    min-width: 200px;
    min-height: 400px;
    width: 40vw;
    padding: 20px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    translate: 12vw;
}


body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    height: 100vh;
}

.border-login {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.input-login {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 3px solid grey;
}

h2 {
    font-weight: 900;
    font-family: 'roboto', sans-serif;
}

.button-login {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.block {
    display: block;
    /* or 'block', depending on your layout requirements */
}

s

/* -----------------------------------------
toggle CSS */
.register {
    background-color: rgb(218, 166, 238);
}

.login {
    background-color: rgb(231, 227, 170);
}

.toggle-container {
    background-color: rgb(231, 148, 148);
    transform: translate(-100%);
    z-index: 100;
    transition: transform 0.5s;
}

.toggle-container.active {
    transform: translate(-200%);
}

.login-main.active {
    opacity: 0;
}

.login-main {
    transition: opacity 0.5s;
    opacity: 1;
}

.reg {
    transition: opacity 0.5s;
    opacity: 0;
}

.reg.active {
    opacity: 1;
}


